# This file is /home/$USER/.config/systemd/user/bpan.service
# Where $USER is the user name the service will run under,
# and /user/ is literally "/user/".
# On the ExecStart line, replace UUUU with your user name, or
# use the install-unit-files.sh script to do this automatically.

[Unit]
Description=Bash Privacy Automatic Navigator

[Service]
Type=simple
StandardOutput=journal
ExecStart=/home/UUUU/bpan/bpan.sh -s
Restart=always

[Install]
WantedBy=default.target
